.YouTubeHeader {
    background-color: #212121;
    height: 56px;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 16px;

    .left-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        .youtube-icon-container {
            display: flex;
            justify-content:unset;
            margin-left: 16px;

            .title {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                font-weight: bold;
            }

            sup {
                color: #fff;
                font-size: 9px;
            }
        }

    }

    .middle-container {
        display: flex;
        align-items: center;
        justify-content: space-around;

        .search-container {
            display: flex;
            margin-right: 16px;

            .search-box {
                padding:0 4px;
                min-width: 430px;
                height: 32px;
                background-color: #121212;
                border: #212121;
            }
            
            .search-button {
                height: 32px;
                background: #313131;
                border: 1px solid #313131;
                padding: 0px;
                min-width: 56px;
            }
        }
    }

    .right-container {
        display: flex;
        align-items: center;
        min-width: 190px;
        justify-content: flex-start;

        .button-container {
            display: flex;
            justify-content: space-between;
            min-width: 150px;
        }
    }
}