.preview-view-container {
    width: 250px;
    height: 215px;
    display: flex;
    flex-direction: column;
    background: transparent;
    margin: 0 15px 55px 0;

    .preview-image-container {
        position: relative;

        img {
            width: 245px;
        }

        .time-specifier {
            position: absolute;
            font-size: 12px;
            color: #fff;
            background: #000;
            text-align: center;
            padding: 3px 3px;
            top: 81%;
            right: 3%;
        }
    }

    .preview-detail-container {
        margin-top: 10px;
        width: 100%;
        display: flex;

        .channel-icon {
            img {
                width: 36px;
                border-radius: 100%;
            }
        }

        .channel-detail {
            margin-left: 14px;
            display: flex;
            flex-direction: column;
            font-size: 14px;

            .video-title {
                color: #fff;
            }

            .channel-title {
                margin-top: 6px;
            }   

            .channel-title, .view-detail {
                color: #aaaaaa;
            }
        }

        .menu-icon-container {

        }
    }
}